.message {
  font-family: 'Homemade Apple', cursive;
  color: blue;
  font-size: large;
}

.author {
  text-align: right;
  font-style: italic;
}

.well {
  margin-top: 100px;
}

.title {
  margin-top: 50px;
  margin-bottom: 70px;
}
