h1, p {
  font-family: 'Pacifico', cursive;
}
.placeholder {
  color: white;
}
.R {
  color: red;
}
.G {
  color: green;
}
.B {
  color: blue;
}
#fieldA1, #fieldA2, #fieldA3, #fieldB1, #fieldB2, #fieldB3, #fieldC1, #fieldC2, #fieldC3 {
  text-align: center;
  padding: 30px;
}
#fieldA1, #fieldB1, #fieldC1 {
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: green;
}
#fieldA1, #fieldA2, #fieldB1, #fieldB2, #fieldA3, #fieldB3 {
  border-right-width: medium;
  border-right-style: solid;
  border-right-color: green;
}
#fieldA3, #fieldB3, #fieldC3 {
  border-top-width: medium;
  border-top-style: solid;
  border-top-color: green;
}
#title{
  margin: 30px;
}
#board {
  padding: 20px;
}
