.working {
  color: green;
}
.resting {
  color: orange;
}
.footer {
  margin-top: 50px;
  text-align: center;
  background-color: #e3e5e8;
}
#reset{
  margin-left: 80px;
}
#progressBar{
  border-width: thin;
  border-style: solid;
  border-color: black;
  padding: 0px;
}
#workTime {
  font-size: 30px;
  color: green;
  text-align: right;
}
#restTime {
  font-size: 30px;
  color: orange;
  text-align: right;
}
#buttons {
  margin: 20px;
}
#title {
  padding: 30px;
  font-family: 'Pacifico', cursive;
}
#timer {
  padding: 20px;
  font-family: 'Pacifico', cursive;
}
